*{
  /*padding: 0;*/
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
img{
  width: 100%;
}
.contenedor{
  position: absolute;
}
.cont-form{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rand {
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.puntaje{
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
